body {
background-color:;
}

h1 {
    text-align: center;
    border:  3px solid whitesmoke;
    border-radius: 5px;
}

.layout {
    border-top:  3px solid whitesmoke;
    border-radius: 5px;
    margin: 20px;
}

.col-yellow {
    background-color: yellow;
}



.col-pink {
    background-color: pink;
    

        
}
.col-clear {

   text-align: center;
   
  
   

}
